version: "3.0"

services:
  app:
    image: ${IMAGE_TAG}
    env_file: .env.prod
    environment:
      # переиспользуем если приложение запускается с контенера
      STAND: PROD 
      POSTGRES_HOST: db
      POSTGRES_HOST_TESTING: db_testing
    depends_on:
      - db
      - db_testing
    volumes:
      - .:/app
    ports:
      - "${APP_PORT}:${APP_PORT}"

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"

  db_testing:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
    ports:
      - "5433:5432"

volumes:
  postgres_data: {}
