name: Merge to dev branch
# событие экшена
on: 
  workflow_dispatch:
  push:
    branches:
      - dev
  # pull_request:
  #   types:
  #     - opened
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs: 
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read      # Чтобы скачать код
      packages: write     # Чтобы пушить Docker образ в GHCR

    steps:
    - name: Get repository code
      uses: actions/checkout@v4

    - name: Create .env file from secrets
      run: echo "$ENV_CONTENT" > .env.dev
      env:
        ENV_CONTENT: ${{ secrets.ENV_DEV }}
    - name: logs
      run: echo '${{ secrets.GITHUB_TOKEN }}'

    # авторизация с реестр github
    - name: Login to GitLab
      uses: docker/login-action@v3
      with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.repository }}:latest

        
      

 
