name: Merge to dev branch
# событие экшена
on: 
  workflow_dispatch:
  push:
    branches:
      - dev
  # pull_request:
  #   types:
  #     - opened
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs: 
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read      # Чтобы скачать код
      packages: write     # Чтобы пушить Docker образ в GHCR

    steps:
    - name: Get repository code
      uses: actions/checkout@v4

    # авторизация с реестр github
    - name: Login to GitLab
      uses: docker/login-action@v3
      with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

        
  test:
    services:
      app:
        image: ${{ env.REGISTRY }}/${{ github.repository }}:latest
        env:
          BOT_SENDER_ORDER_TOKEN: 1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
          BOT_TOKEN: 1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
          STAND: DEV

        ports:
          - 3000:3000
      
      db_testing:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test
        ports:
          - 5433:5432

    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read      
      packages: write     

    steps:
      - name: Get repository code
        uses: actions/checkout@v4

      - name: Run test
        run: docker-compose exec -T app make test



      # - name: Create .env file from secrets
      #   run: echo "$ENV_CONTENT" > .env.dev
      #   env:
      #     ENV_CONTENT: ${{ secrets.ENV_DEV }}


 
