name: Merge to dev branch
# событие экшена
on: 
  workflow_dispatch:
  push:
    branches:
      - dev
  # pull_request:
  #   types:
  #     - opened
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs: 
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read      # Чтобы скачать код
      packages: write     # Чтобы пушить Docker образ в GHCR

    steps:
    - name: Get repository code
      uses: actions/checkout@v4

    # авторизация с реестр github
    - name: Login to Github registry
      uses: docker/login-action@v3
      with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

        
  test:
    services:      
      db_testing:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test
        ports:
          - 5435:5432

    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read      
      packages: write     

    steps:
      - name: Get repository code
        uses: actions/checkout@v4

      - name: Wait for PostgreSQL
        run: |
          until nc -z localhost 5435; do sleep 2; done
          echo "✅ PostgreSQL is ready"
      
      - name: Login to Github registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull app image from registry
        run: docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Create .env file from secrets
        run: echo "$ENV_CONTENT" > .env.dev
        env:
          ENV_CONTENT: ${{ secrets.ENV_DEV }}

      - name: Run app with env file
        run: |
          docker run -d \
            --name app-container \
            --env-file .env.dev \
            -e POSTGRES_HOST_TESTING=host.docker.internal \
            -p 3000:3000 \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Waiting up containers
        run: sleep 5

      - name: Run test
        run: docker exec app-container make test





      


 
