name: Deploy to VPS
# событие экшена
on: 
  workflow_dispatch:
  push:
    branches:
      - main
  # pull_request:
  #   types:
  #     - opened
jobs: 
  test:
    services:
      db_testing:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test
        ports:
          - 5433:5432

    runs-on: ubuntu-latest
    steps:
    - name: Get repository code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Test app
      env:
        BOT_SENDER_ORDER_TOKEN: "1234567890:ABCdefGHIjklMNOpqrsTUVwxyz"
        BOT_TOKEN: "2234567890:ABCdefGHIjklMNOpqrsTUVwxyz"
      run: |
        pytest -s
      

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Get repository code
        uses: actions/checkout@v4
      
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # авторизация в docker hub
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Deploy to VPS and build
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            cd /root/github/mailing_bot && \
            git pull origin main && \
            docker-compose down && \
            docker-compose build --no-cache && docker-compose up -d
          " 
            
      - name: Waiting up containers
        run: sleep 5

      - name: Make migrate
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
           cd /root/github/mailing_bot && docker-compose exec -T app make migrate
          "

 
